body{
    background-color: #3d1616;
    font-family: 'Oswald';
}
h4{
    color: #fff;
    font-size: 33px;
    transition: all .4s;
}
h4.animated{
    transform: translateY(100%);
    opacity: 0;
}
.animated.show{
    transform:translateY(0);
    opacity: 1;
}

